<html>
<head>
	<meta http-equiv='content/type' content='text/html' charset='utf-8'>
	<title></title>
	<style type="text/css">
		{literal}
		#biao{
			width:50%;
			margin:0 auto;
			text-align: center;
		}
		{/literal}

	</style>
</head>
<body>

<div id='biao'>

	<h1>欢迎登录</h1>

	<form method="post">

		<p>用户名： <input type='text' name='username' value='admini'></p>
		<p>密&nbsp码： <input type='password' name='password' value=''></p>
		<p><input type='submit'  value='登录'></p>

	</form>
</div>



</body>
</html>

<script type="text/javascript">
    var tishi="{if isset($message)}{$message}{/if}"

    if(tishi){
        alert(tishi);
    }

</script>